@charset "utf-8";

/*-------------------------------------------------------------------
    파일정의 : 레이아웃
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
    @공통
-------------------------------------------------------------------*/
#skip-nav {height:0}
#skip-nav a {display: block; position: absolute; left: 0; top: -100px; width: 100%; height: 1px; text-align: center}
#skip-nav a:focus, #skip a:active {position: absolute; top: 0; z-index: 120; height: 25px; padding: 10px 0; font-size: 1.4em; font-weight: 700; color: #36348f; background: #fff;}

/*-------------------------------------------------------------------
    @header
-------------------------------------------------------------------*/
#header{}
#header.on{}

.logo{}
.logo a{ display: block; width: 100%; height: 100%; text-indent: -9999px; }

.gnb{}

.gnb-m{}

.etc {}

.shortcut {}

.util {}

.support {}

.assistant {}

.branding {}
 
/*-------------------------------------------------------------------
    @footer
-------------------------------------------------------------------*/
#footer{}

.link{}

.family{}

.sns{}

.address{}

.logo-f{}

.copyright{}

.fnb {}
 
/*-------------------------------------------------------------------
    @content
-------------------------------------------------------------------*/
#content{}

.container{ margin-left: auto; margin-right: auto; position: relative; }
.container::after{ display: block; clear: both; content: ""; }

.has-padding{}

/*-------------------------------------------------------------------
    @floating
-------------------------------------------------------------------*/
 
/*-------------------------------------------------------------------
    @popup
-------------------------------------------------------------------*/
.popup{}

.popup .pop-head{}

.popup .pop-cont{}

.popup .pop-footer{}