@charset "utf-8";

/*-------------------------------------------------------------------
    파일정의 : 메인 스타일
-------------------------------------------------------------------*/
/* 공통 */
.main{}

.main [class^='section'] {padding-top: 8rem; padding-bottom: 8rem;}
.main [class^='section'] .list-wrap {margin-top: 2rem;}

/* 섹션 */
.main .visual{}

.main .section01 {background-color: #D2DCC4;}

.main .section02 {background-color: #FBF5E5;}

.main .section03 {background-color: #D4E0DC;}