@charset "utf-8";

/*-------------------------------------------------------------------
    파일정의 : 컨텐츠 스타일
-------------------------------------------------------------------*/

/*-------------------------------------------------------------------
    @공통
-------------------------------------------------------------------*/
.sub {padding-bottom: 12rem;}

/* 서브 비쥬얼 */
.sub-visual {height: 40rem; background-repeat: no-repeat; background-position: center; background-size: cover;}
.sub-visual .container {height: 40rem; display: flex; align-items: flex-start; justify-content: center; max-width: 90rem; flex-direction: column;}

.sub-visual.bg01 {background-image: url('../img/sub/bg_sub_visual01.png');}

.sub-visual .tit-visual {font-size: 2rem; line-height: 1.3; color: #ffffff; font-weight: 500;}

.sub-visual .txt-visual {font-size: 4.8rem; line-height: 1.3; letter-spacing: 0.2em; font-weight: 700; color: #ffffff; margin-top: 0.4rem;}

/* location */
.loc{  }
.loc ul{}
.loc ul li{}
.loc ul li + li{}
.loc ul li a{}
.loc ul li:first-of-type a{}
.loc ul li:last-of-type a{}

/*-------------------------------------------------------------------
    @메뉴명
-------------------------------------------------------------------*/
/* 서브메뉴명 > 화면명 */

@media screen and (max-width: 720px) {
    /*-------------------------------------------------------------------
        @공통
    -------------------------------------------------------------------*/
    .sub {padding-bottom: 4rem;}

    /* 서브 비쥬얼 */
    .sub-visual {height: 18rem;}
    .sub-visual .container {height: 18rem;}

    .sub-visual .tit-visual {font-size: 1.4rem;}

    .sub-visual .txt-visual {font-size: 3.2rem;}
}