@charset "utf-8";

/*-------------------------------------------------------------------
    파일정의 : 유틸리티
-------------------------------------------------------------------*/

/* float */
.cf::after{ display: block; clear: both; content: ""; }

.fl-none{ float: none; }

.fl-l{ float: left; }
.fl-r{ float: right; }

/* Display */

/* Border */

/* Align*/
.ta-l{ text-align: left !important; }
.ta-c{ text-align: center !important; }
.ta-r{ text-align: right !important; }

/* 말줄임 */

/* Flexible */
.fx{ display: flex; }

.fx.fd-c{ flex-direction: column; }

.fx.wrap{ flex-wrap: wrap; }

.fx.jc-c{ justify-content: center; }
.fx.jc-sb{ justify-content: space-between; }

.fx.ai-fs{ align-items: flex-start; }
.fx.ai-fe{ align-items: flex-end; }
.fx.ai-c{ align-items: center; }
.fx.ai-s{ align-items: stretch; }

.fx-none{ flex: none; }

.fx1{ flex: 1 0 !important; }
.fx2{ flex: 2 0 !important; }
.fx3{ flex: 3 0 !important; }

/*-------------------------------------------------------------------
    @Only (Display 스타일은 다양하므로 숨길경우만 사용)
-------------------------------------------------------------------*/
/* Device */
.dv-pc .hide-pc, 
.dv-pad .hide-pad,
.dv-mobile .hide-mobile,
.dv-android .hide-android, 
.dv-ios .hide-ios {display:none !important;}

.pc-block {display: block !important;}
.pc-hidden {display: none !important;}
 
/* Media */
@media screen and (max-width: 720px){
    .pc-hidden {display: block !important;}
    .m-block {display: block !important;}
    .m-hidden {display: none !important;}
}

/*-------------------------------------------------------------------
    @Color Set
    - 배경: bg-, 텍스트: txt-, 라인: line-
    - 밝은: -light, 어두운: -dark, 더 밝은/어두운: ~er
-------------------------------------------------------------------*/
/* 기본 */
.bg-none {background-color:transparent !important;}
.txt-none {color:transparent !important;}
.line-none {border-color:transparent !important;}
 
/* 배경 */
.bg-green01 {background-color: #D2DCC4 !important;}
.bg-gray01 {background-color: #F1F3F5 !important;}
.bg-brown01 {background-color: #FBF5E5 !important;}
.bg-blue01 {background-color: #D4E0DC !important;}

/* 텍스트 */

/* 라인 */